{{!
    This file is part of Timeline course format for moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_timeline/createpost_modal

    Create post modal template

    Example context (json): {}
}}
{{< core/modal }}
    {{$title}}{{#str}}createpost, format_timeline{{/str}}{{/title}}
    {{$body}}
        <form autocomplete="off" accept-charset="utf-8" class="mform">
            <input type="hidden" id="post-course" name="course">
            <div class="form-group m-0">
                <textarea id="post-message" name="message" class="form-control" rows="4"></textarea>
                <p id="post-message-feedback" class="d-none invalid-feedback">{{#str}}createpost_validator_message, format_timeline{{/str}}</p>
            </div>
        </form>
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-primary" data-action="save">{{#str}} create {{/str}}</button>
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel {{/str}}</button>
    {{/footer}}
{{/ core/modal }}
