{{!
    This file is part of Timeline course format for moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_timeline/timeline_post_item

    Create post modal template

    Example context (json): {
        "pid": 2,
        "courseid": 7,
        "userpic": "https://url.com",
        "fullname": "User fullname",
        "humantimecreated": "Monday, 8 June 2020, 3:50 pm",
        "message": "The post message",
        "candelete": true,
        "children": [{
            "userpic": "https://url.com",
            "fullname": "User fullname",
            "message": "The post message"
        }],
        "cancommentonposts": true,
        "loggedinuserinfo": {
            "img": "https://url.com",
            "fullname": "User fullname"
        }
    }
}}
<div id="discuss-{{pid}}" class="card discuss" data-id="{{pid}}" data-courseid="{{courseid}}" {{#groupid}}data-groupid="{{{.}}}"{{/groupid}}>
    <div class="card-body">
        <div class="post mainpost">
            <div class="userimg">
                <img src="{{{userpic}}}" alt="{{fullname}}">
            </div>
            <div class="entry">
                <div class="entry-content">
                    <p class="name">{{fullname}} <span class="small">{{humantimecreated}}</span></p>
                    <p class="text">{{{message}}}</p>
                </div>
            </div>

            {{#groupname}}<p class="groupinfo"><span class="badge badge-info">{{{.}}}</span></p>{{/groupname}}

            {{#candelete}}
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" id="dropdownMenuButton-{{pid}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{#pix}}a/setting{{/pix}}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{pid}}">
                        <a class="dropdown-item delete-post" data-id="{{pid}}" href="#"><i class="fa fa-trash-o"></i> {{#str}}deletepost, format_timeline{{/str}}</a>
                    </div>
                </div>
            {{/candelete}}
        </div>
        {{#children}}
            <div class="post">
                <div class="userimg">
                    <img src="{{{userpic}}}" alt="{{fullname}}">
                </div>
                <div class="entry">
                    <div class="entry-content">
                        <p class="name">{{fullname}}</p>
                        <p class="text">{{{message}}}</p>
                    </div>
                </div>
            </div>
        {{/children}}

        {{#hasmorechildren}}
            <div class="loadmore">
                <a href="#" class="loadallcomments btn btn-outline-primary" data-id="{{pid}}"><i class="fa fa-plus-circle"></i> {{#str}}loadmore, format_timeline, {{childdiff}}{{/str}}</a>
            </div>
        {{/hasmorechildren}}

        {{#cancommentonposts}}
            <div class="add-comment">
                {{#loggedinuserinfo}}
                    <img src="{{{img}}}" class="userimg" alt="{{fullname}}">
                {{/loggedinuserinfo}}

                <div class="input-group">
                    <p class="post-comment-input" placeholder="{{#str}}writeacomment, format_timeline{{/str}}" contenteditable="true" data-tribute="true"></p>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary post-comment-btn" type="button">
                            <i class="fa fa-commenting-o"></i> {{#str}}comment, format_timeline{{/str}}
                        </button>
                    </div>
                </div>
            </div>
        {{/cancommentonposts}}
    </div>
</div>