{{!
    This file is part of Timeline course format for moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_timeline/timeline_coursemodule_item

    Course module template

    Example context (json): {
        "printcontent": true,
        "type": "activity",
        "name": "Module item name",
        "modname": "page",
        "modfullname": "Page",
        "humantimecreated": "Monday, 8 June 2020, 3:50 pm",
        "visible": true,
        "content": "<div>...</div>",
        "editicons": "<div>...</div>",
        "url": "https://url.com",
        "iconurl": "https://url.com",
        "completionbox": "<div>...</div>",
        "availability": "<div>...</div>"
    }
}}

<div class="shadow-sm coursemodule modtype_{{modname}} purpose_{{purpose}} {{^visible}}hiddenactivity{{/visible}}">
    {{{ moduleoutput }}}

    <div class="editicons">
        {{{editicons}}}
    </div>
</div>